﻿
@{
    ViewBag.Title = "Vergadering-beheer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin") || User.IsInRole("Beheerder"))
{
    <div class="row">
        <ul id="breadcrumb"></ul>
    </div>
}


<h2>@ViewBag.Title</h2>

<a class="btn btn-info" href="/Beheerder/Vergadering/Index">Vergadering/verslagen</a>
<a class="btn btn-info" href="/Beheerder/AgendaPunt/Index">Agendapunten</a>


@section Scripts
{
    
    <script>
        var controller = "/Beheerder/VergaderingBeheer/";

        $.ajax({
            url: controller + 'BreadCrumbs',
            type: "GET",
            success: function (resp) {
                $("#breadcrumb").html(resp);
                $.fn.tooltips();
            }
        });
    </script>
    
}




