﻿@model List<Gidsen.BOL.Models.BreadCrumb>

@if (User.IsInRole("Admin") || User.IsInRole("Beheerder"))
{
    <li><a href="/Beheerder/Algemeen" title="Admin" data-toggle="tooltip"><span class="glyphicon glyphicon-wrench"></span></a></li>
}
else if (ViewBag.Soort == "Vergadering")
{
    <li><a href="/Beheerder/VergaderingBeheer" title="Vergadering" data-toggle="tooltip"><span class="glyphicon glyphicon-duplicate"></span></a></li>
}
else
{
    <li><a href="/Gids/Informatie" title="Informatie" data-toggle="tooltip"><span class="glyphicon glyphicon-info-sign"></span></a></li>
}

@foreach (var breadcrumb in Model)
{
    <li><a href="@breadcrumb.Url">@breadcrumb.Beschrijving</a></li>
}

