﻿

    <a href="#" class="btn btn-default btn-xs glyphicon glyphicon-pencil edit" title="@ViewBag.Single aanpassen" data-toggle="tooltip" data-placement="top" data-value="@ViewBag.Id"></a>
@if (User.IsInRole("Admin") || User.IsInRole("Beheerder"))
{
    if (ViewBag.Actief)
    {
        <button title="@ViewBag.Single deactiveren" value="@ViewBag.Id" class="btn btn-default btn-xs glyphicon glyphicon-remove toggle-active" data-toggle="tooltip" data-placement="top"></button>
    }
    else
    {
        <button title="@ViewBag.Single activeren" value="@ViewBag.Id" class="btn btn-default btn-xs glyphicon glyphicon-ok toggle-active" data-toggle="tooltip" data-placement="top"></button>
    }
}
    


