﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gidsen@Olmense Zoo - @ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/dhtmlxscheduler")
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/favicon-32x32.png">
    <link href="/Content/dhtmlxscheduler/dhtmlxscheduler.css" rel="stylesheet">
    @Styles.Render("~/Styles/scheduler")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Styles/css")
    <link href="/Content/theme.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    
</head>

<body onload="init();">
    @Html.Partial("_Menu")
    <div class="space">&nbsp;</div>
    <div class="container" style="height:100vh;">
        @Html.Partial("_SchedulerPartial")       
    </div>
    @RenderBody()
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</body>
</html>
