﻿<div class="form-group">
    <div class="col-md-offset-4 col-md-8">
        <input type="hidden" name="Id" value="@ViewBag.Id" />
        <input type="submit" value="Opslaan" id="submit" class="btn btn-default" />
    </div>
</div>
