﻿@model Gidsen.BOL.ViewModels.AgendaPuntVm

@Html.Partial("_MessagePartial", Model)

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { @id = "CreateUpdate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Omschrijving, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Omschrijving, new { @class = "form-control", @cols = 80, @rows = 5 })
                @Html.ValidationMessageFor(model => model.Omschrijving, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
        <input type="hidden" name="VergaderingId" id="VergaderingId" value="@Model.VergaderingId" />
        @{ ViewBag.Id = Model.Id; }
        @Html.Partial("_submitButton")
    </div>
}


