﻿@model Gidsen.BOL.ViewModels.GidsbeurtVm


@using (Html.BeginForm("CreateUpdate", null, null, FormMethod.Post, new { @id = "CreateUpdate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.Partial("_MessagePartial", Model)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Datum, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input class="form-control" id="Datum" name="Datum" value="@Model.Datum" type="datetime" @(!Model.Goedgekeurd ? "" : "readonly")>
                        @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input class="form-control" id="Text" name="Text" value="@Model.Text" type="text" @(!Model.Goedgekeurd ? "" : "readonly")>
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group slider-group">
            @Html.LabelFor(model => model.Deelnemers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Deelnemers" name="Deelnemers" class="form-control" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="@Model.Deelnemers" />
                @Html.ValidationMessageFor(model => model.Deelnemers, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @if (Model?.ThemaLijst != null)
                {
                    <div class="form-group">
                        <label class="control-label col-md-4" for="ThemaId">Welk thema?</label>
                        <div class="col-md-8">
                            <select class="form-control" id="ThemaId" name="ThemaId" @(!Model.GidsToegewezen ? "" : "disabled")>
                                <option value="">Maak uw keuze</option>
                                @foreach (var item in Model.ThemaLijst)
                                {
                                    <option value="@item.Id" @(Model.ThemaId == item.Id ? "selected" : "")>@item.Naam</option>
                                }
                            </select>
                            @if (Model.GidsToegewezen)
                            {
                                <input type="hidden" name="ThemaId" id="ThemaId" value="@Model.ThemaId" />
                            }
                            @Html.ValidationMessageFor(model => model.ThemaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6">
                @if (Model?.ListLeeftijden != null)
                {
                    <div class="form-group">
                        <label class="control-label col-md-4" for="LeeftijdCategorieId">Welke leeftijd?</label>
                        <div class="col-md-8">
                            <select class="form-control" id="LeeftijdCategorieId" name="LeeftijdCategorieId" @(!Model.GidsToegewezen ? "" : "disabled")>
                                <option value="">Maak uw keuze</option>
                                @foreach (var item in Model.ListLeeftijden)
                                {
                                    <option value="@item.Id" @(Model.LeeftijdCategorieId == item.Id ? "selected" : "")>@item.Beschrijving</option>
                                }
                            </select>
                            @if (Model.GidsToegewezen)
                            {
                                <input type="hidden" name="LeeftijdCategorieId" id="LeeftijdCategorieId" value="@Model.LeeftijdCategorieId" />
                            }
                            @Html.ValidationMessageFor(model => model.LeeftijdCategorieId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <fieldset>
            <legend>Bijkomende optie's?</legend>
            <div class="checkbox-area">
                <div class="col-md-3 col-md-offset-2">
                    <input data-toggle="toggle" @(Model?.Rolstoel == true ? "checked" : "") data-width="100%" data-height="45" data-on="Rolstoelpatiënten" data-off="Geen rolstoelpatiënten" data-onstyle="success" data-offstyle="danger" id="Rolstoel" name="Rolstoel" type="checkbox" value="true">
                </div>
                <div class="col-md-3">
                    <input data-toggle="toggle" @(Model?.EtenNaGidsbeurt == true ? "checked" : "") data-width="100%" data-height="45" data-on="Aansluitend eten" data-off="Zonder eten" data-onstyle="success" data-offstyle="danger" id="EtenNaGidsbeurt" name="EtenNaGidsbeurt" type="checkbox" value="true">
                </div>
                <div class="col-md-3">
                    <input data-toggle="toggle" @(Model?.ShowNaGidsbeurt == true ? "checked" : "") data-width="100%" data-height="45" data-on="Aansluitend show" data-off="Zonder show" data-onstyle="success" data-offstyle="danger" id="ShowNaGidsbeurt" name="ShowNaGidsbeurt" type="checkbox" value="true">
                </div>
            </div>
        </fieldset>


        <div class="form-group">
            @Html.LabelFor(model => model.Inlichtingen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Inlichtingen, new { @class = "form-control", @cols = 90, @rows = 5 })
                @Html.ValidationMessageFor(model => model.Inlichtingen, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Beheerder"))
        {
            if (Model?.KlantenLijst != null)
            {
                <div class="form-group">
                    <label class="control-label col-md-2" for="UserId">Contactpersoon?</label>
                    <div class="col-md-10">
                        <select class="form-control" id="UserId" name="UserId">
                            <option value="">Maak uw keuze</option>
                            @foreach (var item in Model.KlantenLijst)
                            {
                                <option value="@item.Id" @(Model.UserId == item.Id ? "selected" : "")>@item.Familienaam @item.Voornaam</option>
                            }
                        </select>
                    </div>
                </div>
            }
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" value="@Model.Id" id="gidsbeurtId" name="Id" />
                <input type="submit" value="Aanvraag versturen" id="submit" class="btn btn-default" />
            </div>
        </div>

    </div>

}

