﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tijdelijk uitgesloten";
}


<h2 class="text-danger">Uitgesloten</h2>

<p>Deze account is tijdelijk uitgesloten, omwille van <strong>3 ongeldige aanmeldingspogingen</strong>.</p>
<p>U moet <strong>minstens 20 minuten</strong> wachten vooraleer u opnieuw kan proberen. </p>
<p><strong>Kent u uw paswoord niet meer?</strong> Misschien vindt u uw aanmeldingsgegevens nog wel terug in uw mailbox, of dien een aanvraag in om uw paswoord te <a href="/Algemeen/Account/ForgotPassword">resetten</a>.</p>
<p>&nbsp;</p>
<p><strong>OPGELET!</strong> Het resetten van uw paswoord, verkort uw wachttijd NIET!</p>

