﻿
@{
    ViewBag.Title = "Dieren-beheer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul id="breadcrumb">       
    </ul>
</div>

<h2>@ViewBag.Title</h2>

<a class="btn btn-info" href="/Beheerder/Categories/Index">Beheer categorieën</a>
<a class="btn btn-info" href="/Beheerder/Dier/Index">Beheer dieren</a>
<a class="btn btn-info" href="/Beheerder/DierDocumentatie/Overzicht">Beheer documenten</a>

@section Scripts
{
    
    <script>
        var controller = "/Beheerder/DierenBeheer/";

        $.ajax({
            url: controller + 'BreadCrumbs',
            type: "GET",
            success: function (resp) {
                $("#breadcrumb").html(resp);
                $.fn.tooltips();
            }
        });
    </script>
    
}




