﻿@{
    ViewBag.Title = "Bevestiging account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Controleer uw email-account. Wij zonden u een email waarmee u uw account kan bevestigen.
    </p>
    <p><strong>Geen mail gevonden?</strong></p>
    <ul>
        <li>Controleer uw spam-folder</li>
        <li>@Html.ActionLink("Nieuwe mail aanvragen?", "NieuweBevestigingsMail")</li>
    </ul>
</div>
	
