﻿@{
    ViewBag.Title = "Bevestiging vergeten paswoord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Controleer uw email-account. Wij zonden u een email waarmee u uw paswoord kan resetten.
    </p>
</div>
	
