﻿@{
    ViewBag.Title = "Account op non-actief";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Bij controle van uw gegevens, blijkt dat uw account op non-actief staat.
    </p>
    <p>Met een niet-actieve account, kan u niet inloggen op deze website.</p>
    <p>&nbsp;</p>
    <p>Is dit volgens u een vergissing? Neem dan <strong>contact</strong> op met de Olmense Zoo om dit recht te zetten</p>
</div>
	
