﻿@{
    ViewBag.Title = "Overzicht vergaderingen/verslagen";
    ViewBag.Single = "vergadering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul id="breadcrumb"></ul>
</div>

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Beheerder"))
{
    @Html.Partial("_newButton")
}

<div class="row">
    <div class="col-md-3">
        <select class="form-control" name="jaartal" id="jaartal">
            <option value="">Kies het jaar</option>
            @for (int i = 2017; i <= (DateTime.Now.Year + 1); i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="overzicht top-buffer col-md-12">

    </div>
</div>

@Html.Partial("_modal")
@Html.Partial("_modalQueue")

@section Styles {
    @Styles.Render("~/Content/uploadifive")
    @Styles.Render("~/Styles/doc")
    <style>
        .top-buffer {
            margin-top: 20px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/uploadifive")
    <script>
        var controller = "/Beheerder/Vergadering/";
        var titel = "Vergadering ";
    </script>
    @Scripts.Render("~/bundles/year-reload")
    @Scripts.Render("~/bundles/crud")
    <script>
        
        $(document).on("click", ".verslagUploaden", function (e) {
            var id = $(this).val();
            $("#myModalQueue #form1").append("<input type='hidden' value='" + id + "' id='Id' name='Id'/>");
            $("#myModalQueue .modal-title").html("Verslag uploaden");
            $("#myModalQueue").modal('show');
        });

        $(document).on("click", ".deleteFile", function (e) {
            var Id = $(this).attr("data-id");

            var dataString = 'Id=' + Id;
            bootbox.confirm("Bent u zeker dat u het verslag wil verwijderen?", function (result) {
                if (result) {
                    $.ajax({
                        url: controller + 'DeleteFile',
                        async: true,
                        data: dataString,
                        type: "POST",
                        success: function (resp) {
                            if (resp) {
                                $.fn.reload();
                            }
                        }
                    });
                }
            });
        });

        $(function () {

            $('#file_upload').uploadifive({
                'auto': true,
                'fileObjName': 'file',
                'onUpload': function () {
                    $('#file_upload').data('uploadifive').settings.formData = {
                        'Id': $('#Id').val(),
                    }
                },
                'queueID': 'queue',
                'uploadScript': controller + 'Upload',
                'onUploadComplete': function (file) {
                    $.fn.reload();
                }
            });
        });

        
    </script>

}