﻿@model Gidsen.BOL.ViewModels.GidsbeurtListVm

@Html.Partial("_MessagePartial", Model)
@if (Model?.GidsbeurtLijst != null)
{
    foreach (var item in Model.GidsbeurtLijst)
    {
        var bsClass = "warning";
        var tooltipTekst = "";
        if (item.StartDate >= DateTime.Now && item.StartDate < DateTime.Now.AddDays(8))
        {
            bsClass = "danger";
            tooltipTekst = "Dringend! Gidsbeurt vindt plaats binnen de week!";
        }
        <div class="row">
            <div class="alert alert-@bsClass gidsbeurt-item col-md-8" data-gidsbeurt="@item.Id" title="Klik om details te bekijken. @tooltipTekst" data-toggle="tooltip" data-placement="top">
                <strong>@item.StartDate :</strong>&nbsp;&nbsp; <em>@item.Text</em>

            </div>
        </div>
    }
}
