﻿@model Gidsen.BOL.ViewModels.CategorieVm


@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { @id = "CreateUpdate" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
            </div>
        </div>
               
        @{ ViewBag.Id = Model.Id; }
        @Html.Partial("_submitButton")
    </div>
}

