﻿@model Gidsen.BOL.ViewModels.LeeftijdCategorieListVm

@Html.Partial("_MessagePartial", Model)
@if (Model?.LijstLeeftijdCategorie != null)
{
    ViewBag.Single = "leeftijdscategorie";
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Beschrijving
            </th>
            <th>
                Actief
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.LijstLeeftijdCategorie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actief)
                </td>
                <td>
                    @{
                        ViewBag.Id = item.Id;
                        ViewBag.Actief = item.Actief;
                    }
                    @Html.Partial("_crudButtons")
                </td>
            </tr>
        }

    </table>
}

