﻿
@{
    ViewBag.Title = "Informatie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-info" href="/Beheerder/DierDocumentatie/Overzicht">Documentatie dieren</a>
<a class="btn btn-info" href="/Beheerder/ThemaDocumentatie/Overzicht">Documentatie thema's</a>

