﻿@model Gidsen.BOL.ViewModels.ThemaListVm

@{
    ViewBag.Title = "Overzicht Thema-Documentatie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul id="breadcrumb">               
    </ul>
</div>

<h2>@ViewBag.Title</h2>

@Html.Partial("_MessagePartial", Model)
<div class="row">
    @if (Model?.ThemaLijst != null)
    {
        int aantal = Model.ThemaLijst.Count;
        <div class="col-md-3">
            <div class="form-group">
                <label for="Id">Welk thema?</label>

                <select class="form-control" id="Id" name="Id" size="@aantal">

                    @foreach (var item in Model.ThemaLijst)
                    {
                        <option value="@item.Id">@item.Naam</option>
                    }
                </select>
            </div>
        </div>
    }
    <div class="col-md-9">
        <div class="overzicht">

        </div>
    </div>
</div>


@Html.Partial("_modalQueue")

@section Styles
{
    @Styles.Render("~/Content/uploadifive")
    @Styles.Render("~/Styles/doc")
}
@section Scripts
{
    @Scripts.Render("~/bundles/uploadifive")
    @Scripts.Render("~/bundles/ekko-lightbox")
    <script>
        var controller = "/Beheerder/ThemaDocumentatie/";
        
    </script>
    @Scripts.Render("~/bundles/doc")
}



