﻿
@model Gidsen.BOL.ViewModels.CompleteUserVm

@{
    ViewBag.Title = "Gebruikersgegevens vervolledigen";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Gebruiker</h4>
        <hr />
        
        @Html.Partial("_userData", Model)
        @{ ViewBag.Id = Model.Id; }
        @Html.Partial("_submitButton")

        
    </div>
}

<div><em>De Olmense Zoo gaat met de grootste zorgvuldigheid om
    met persoonlijke gegevens. Persoonlijke 
    gegevens worden vertrouwelijk behandeld door de Olmense Zoo en slechts gebruikt voor de 
    doeleinden waarvoor de gegevens verstrekt zijn door de persoon in kwestie. Gegevens kunnen 
    worden opgeslagen in één of meerdere databanken. Persoonlijke gegevens worden niet aan 
    derden verstrekt zonder de toestemming van de betrokkene. De betrokkene heeft recht op inzage 
    van zijn persoonsgegevens.</em></div>


