﻿@model Gidsen.BOL.ViewModels.MenuItemsListVm


@Html.Partial("_MessagePartial", Model)
@if (Model != null && Model.MenuList != null)
{
    ViewBag.Single = "menu-item";
    <table class="table table-bordered table-striped">
        <tr>

            <th>
                Area
            </th>
            <th>
                Controller
            </th>
            <th>
                Action
            </th>
            <th>
                Weergave
            </th>
            <th>Top-Nav?</th>
            <th>
               Actief
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.MenuList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weergave)
                </td>
                <td>@Html.DisplayFor(modelItem => item.TopNavigatie)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actief)
                </td>
                <td>
                    @{
                        ViewBag.Id = item.Id;
                        ViewBag.Actief = item.Actief;
                    }
                    @Html.Partial("_crudButtons")
                </td>
            </tr>
        }

    </table>
}