﻿@model Gidsen.BOL.ViewModels.VergoedingListVm

@Html.Partial("_MessagePartial", Model)
@if (Model?.LijstVergoedingen != null)
{
    ViewBag.Titel = "Vergoeding";
    <table class="table table-bordered table-striped">
        <tr>
            <th>Jaar</th>
            <th>Hoofdbedrag</th>
            <th>Steunbedrag</th>
            <th>Actief?</th>
            <th></th>
        </tr>
        
        @foreach (var item in Model.LijstVergoedingen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Jaar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hoofdbedrag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Steunproject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actief)
                </td>
                <td>
                    @{
                        ViewBag.Id = item.Id;
                        ViewBag.Actief = item.Actief;
                    }
                    @Html.Partial("_crudButtons")
                </td>
            </tr>
        }

    </table>
}