﻿@model Gidsen.BOL.ViewModels.GidsbeurtListVm
@using Microsoft.AspNet.Identity
@using Gidsen.BOL.Models

@{
    string userId = User.Identity.GetUserId();
}

@Html.Partial("_MessagePartial", Model)

@{
    int totaalTeller = 0;
    int gidsTeller = 0;
}
@if (Model?.GidsbeurtLijst != null)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Start</th>
            <th>Groepsnaam</th>
            <th>Deelnemers</th>
            <th>Inlichtingen</th>
            <th>Gids?</th>
            <th>Goedgekeurd?</th>
            <th></th>
        </tr>


        @foreach (var item in Model.GidsbeurtLijst)
        {
            totaalTeller++;
            string bsName = "";

            if (item.StartDate >= DateTime.Now && item.StartDate < DateTime.Now.AddDays(8))
            {
                bsName = "class=info";
            }
            <tr @bsName>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.StartDate)</strong>
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deelnemers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inlichtingen)
                </td>
                <td>
                    @if (User.IsInRole("Klant") || User.IsInRole("Beheerder") || User.IsInRole("Admin"))
                    {
                        @Html.DisplayFor(modelItem => item.GidsToegewezen)
                    }
                    @if (User.IsInRole("Gids") || User.IsInRole("Stagiair"))
                    {
                        var firstOrDefault = item.GidsbeurtUitvoerder.FirstOrDefault(x => x.User.Id.Equals(userId));
                        if (firstOrDefault != null)
                        {
                            GidsRol rol = firstOrDefault.GidsRol;
                            <text><input class='check-box' disabled='disabled' @if (rol.Benaming.Equals("Uitvoerder")) {  @: checked='checked'
                                              } type="checkbox"></text>
                            if (rol.Benaming.Equals("Uitvoerder") && item.StartDate <= DateTime.Now)
                            {
                                gidsTeller++;
                            }
                        }
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Goedgekeurd)
                </td>
                <td>

                    <button title="Details bekijken" value="@item.Id" class="btn btn-default btn-xs glyphicon glyphicon-eye-open details" data-toggle="tooltip" data-placement="top"></button>


                    @if (userId.Equals(item.User.Id))
                    {
                        if (item.StartDate > DateTime.Now)
                        {
                            <a title="Gidsbeurt wijzigen" data-toggle="tooltip" class="btn btn-default btn-xs glyphicon glyphicon-pencil" href="/Klant/Gidsbeurt/Edit/@item.Id"></a>

                            if (item.Actief)
                            {
                                <button title="Gidsbeurt deactiveren" value="@item.Id" class="btn btn-default btn-xs glyphicon glyphicon-remove toggle-active2" data-toggle="tooltip" data-placement="top"></button>
                            }
                            else
                            {
                                <button title="Gidsbeurt activeren" value="@item.Id" class="btn btn-default btn-xs glyphicon glyphicon-ok toggle-active2" data-toggle="tooltip" data-placement="top"></button>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </table>
}


<p><em>Totaal aantal gidsbeurten:</em>  @totaalTeller</p>
@if (User.IsInRole("Gids") || User.IsInRole("Stagiair"))
{
    <p><em>Totaal aantal <u>uitgevoerde</u> gidsbeurten (tot heden):</em>  @gidsTeller</p>
    if (Model.Vergoeding != null)
    {
        decimal totaal = 0;
        if (Model.Steunproject)
        {
            if (Model.Vergoeding.Steunproject > 0)
            {
                decimal steunbedrag = gidsTeller * Model.Vergoeding.Steunproject;
                <p><em>Bijdrage steunproject (tot heden):</em> € @steunbedrag</p>
            }
            totaal = gidsTeller * (Model.Vergoeding.Hoofdbedrag - Model.Vergoeding.Steunproject);
        }
        else
        {
            totaal = gidsTeller * Model.Vergoeding.Hoofdbedrag;
        }
        <p><em>Recht op volgende vergoeding (tot heden):</em> € @totaal</p>
    }
}




