﻿
@{
    ViewBag.Title = "Overzicht uitkeringen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul id="breadcrumb"></ul>
</div>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3">
        <select class="form-control" name="jaartal" id="jaartal">
            <option value="">Kies het jaar</option>
            @for (int i = 2017; i <= DateTime.Now.Year; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="overzicht top-buffer col-md-12">

    </div>
</div>

@section Styles {
    <style>
        .top-buffer {
            margin-top: 20px;
        }
    </style>
}

@section Scripts {
    <script>
        var controller = "/Beheerder/Uitkering/";
        var titel = "uitkering ";

        $.ajax({
            url: controller + 'BreadCrumbs',
            type: "GET",
            success: function (resp) {
                $("#breadcrumb").html(resp);
                $.fn.tooltips();
            }
        });

    </script>
    @Scripts.Render("~/bundles/year-reload")

}

