﻿@model Gidsen.BOL.ViewModels.UitkeringListVm

@Html.Partial("_MessagePartial", Model)
@if (Model?.UitkeringLijst != null)
{
    ViewBag.Titel = "Vergoeding";
    decimal eigen;
    decimal steun;
    <table class="table table-bordered table-striped">
        <tr>
            <th>Familienaam</th>
            <th>Voornaam</th>
            <th>Actief?</th>
            <th>Uitgevoerde gidsbeurten?</th>
            <th>Eigen vergoeding?</th>
            <th>Bijdrage steunproject?</th>
            
        </tr>

        @foreach (var item in Model.UitkeringLijst)
        {
            eigen = 0;
            steun = 0;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gids.Familienaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gids.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gids.Actief)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UitgevoerdeGidsbeurten)
                </td>
                @{ 
                    if (Model.Vergoeding != null)
                    {
                        if (item.Steunproject)
                        {
                            eigen = item.UitgevoerdeGidsbeurten * (Model.Vergoeding.Hoofdbedrag - Model.Vergoeding.Steunproject);
                            steun = item.UitgevoerdeGidsbeurten * Model.Vergoeding.Steunproject;
                        }
                        else
                        {
                            eigen = item.UitgevoerdeGidsbeurten * Model.Vergoeding.Hoofdbedrag;
                        }
                    }
                }
                <td>€ @eigen</td>
                <td>€ @steun</td>
            </tr>
        }

    </table>
}
